:root {
  --main-bg-color: #FFFFFF;
  --accent-color: #2196F3;
  --main-background-color: #F5F4FA;
  --portfolio-background-color: #EEEEEE;
  --main-grey-color: #757575;
  --main-color: #2F303A;
  --menu-link-color: #212121;
  --footer-header-background: #2F303A;
  --button-background-color: #188CE8;
  --roboto-font-constant: "Roboto";
  --sansserif-font-constant: "sans-serif";
  --raleway-font-constant: "Raleway";
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background: var(--main-bg-color);
  font-size: 14px;
  font-family: var(--roboto-font-constant), var(--sansserif-font-constant);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
button {
  cursor: pointer;
  border: none;
}

.menu-btn {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-btn {
  font-family: var(--roboto-font-constant);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  color: var(--menu-link-color);
  transition: background-color var(--transition-dur-and-func);
}
.list-btn:hover, .list-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--accent-color);
  color: var(--main-bg-color);
}

.main-baner-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--button-background-color);
  color: var(--main-bg-color);
}
.main-baner-button:active, .main-baner-button:hover, .main-baner-button:focus {
  background-color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-nav {
  margin-top: 48px;
  padding-left: 0px;
}

.mobile-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  background-color: var(--secondary-color-background);
  transition: color var(--transition-dur-and-func);
}

.mobile-nav__link:hover,
.mobile-nav__link.current {
  color: var(--accent-color);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-mobile {
  padding-left: 0px;
  margin-top: 302px;
}

.contacts-mobile__item {
  margin-bottom: 64px;
}

.contacts-mobile__link:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-mobile__telefon {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.contacts-mobile__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-networks {
  display: flex;
  padding-left: 0px;
}

.mobile-networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-networks__item .border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-menu.is-open {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .footer-address__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-address__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    align-items: 93px;
  }
}
.logo-web {
  color: var(--accent-color);
}

.page-navigation__logo {
  font-family: var(--raleway-font-constant);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--menu-link-color);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--button-background-color);
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-bg-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: var(--transition-dur-and-func);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  fill: #2196F3;
}

.modal-form-title {
  font-family: var(--roboto-font-constant);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  cursor: pointer;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-own-checkbox {
  cursor: pointer;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border: none;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px rgb(33, 150, 243);
}

.modal-form-text-checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: var(--main-bg-color);
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--button-background-color);
  color: var(--main-bg-color);
}
.modal-form-submit:active, .modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--accent-color);
}

.terms-and-conditions-href {
  color: #188CE8;
  text-decoration: underline;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .modal-form-text-checkbox {
    font-weight: 700;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
  .modal-form-text-checkbox {
    font-weight: 700;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.main-baner {
  color: var(--main-bg-color);
  background: #2F303A;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("https://vladyslavliapko.github.io/goit-markup-hw-07/images/baner-mobile.jpg");
}

.main-baner-title {
  margin-bottom: 30px;
  font-family: var(--roboto-font-constant);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--main-bg-color);
}

@media screen and (min-width: 480px) {
  .main-baner {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("https://vladyslavliapko.github.io/goit-markup-hw-07/images/baner-mobile.jpg");
  }
  .main-baner-title {
    margin-bottom: 30px;
    font-family: var(--roboto-font-constant);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-bg-color);
  }
}
@media screen and (min-width: 768px) {
  .main-baner {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("https://vladyslavliapko.github.io/goit-markup-hw-07/images/baner-tablet.jpg");
  }
  .main-baner-title {
    margin-bottom: 30px;
    font-family: var(--roboto-font-constant);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .main-baner {
    color: var(--main-bg-color);
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    text-transform: uppercase;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("https://vladyslavliapko.github.io/goit-markup-hw-07/images/baner.jpg");
  }
  .main-baner-title {
    margin-bottom: 30px;
    font-family: var(--roboto-font-constant);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-bg-color);
  }
}
@media screen and (min-width: 480px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits__list {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .benefits__item {
    flex-basis: 100%;
  }
  .box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
    margin-bottom: 10px;
    text-align: center;
  }
  .benefits__text {
    flex: auto;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-grey-color);
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits__item {
    flex: auto;
    flex-basis: 50%;
  }
  .box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
    margin-bottom: 10px;
  }
  .benefits__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-grey-color);
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits__list {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  .benefits__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
    margin-bottom: 10px;
  }
  .benefits__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-grey-color);
  }
}
@media screen and (min-width: 480px) {
  .directions {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .directions {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .directions {
    display: inline;
    padding-top: 0;
  }
  .what-we-do {
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
  }
  .directions__list {
    display: flex;
    gap: 30px;
  }
  .directions__overlay-wrapper {
    position: relative;
  }
  .directions__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
    bottom: 0;
    left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    overflow: auto;
  }
}
@media screen and (min-width: 480px) {
  .team-section {
    background-color: var(--main-background-color);
  }
  .our-crew-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
    margin-bottom: 50px;
  }
  .team-section-list-item-img {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;
  }
  .team-section-list-item {
    display: block;
    flex-basis: 100%;
    text-align: center;
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--menu-link-color);
  }
  .team-text {
    font-family: var(--roboto-font-constant);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--main-grey-color);
  }
  .staff {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: #AFB1B8;
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: #2196F3;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
  }
  .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
    fill: var(--main-bg-color);
  }
}
@media screen and (min-width: 768px) {
  .team-section {
    background-color: var(--main-background-color);
  }
  .our-crew-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
    margin-bottom: 50px;
  }
  .team-section-list-item-img {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;
  }
  .team-section-list-item {
    flex-basis: calc((100% - 30px) / 2);
    text-align: center;
    width: calc((100% - 30px) / 2);
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--menu-link-color);
  }
  .team-text {
    font-family: var(--roboto-font-constant);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--main-grey-color);
  }
  .staff {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: #AFB1B8;
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: #2196F3;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
  }
  .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
    fill: var(--main-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    background-color: var(--main-background-color);
  }
  .our-crew-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
    margin-bottom: 50px;
  }
  .team-section-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;
  }
  .team-section-list-item {
    flex-basis: calc(25% - var(--card-set-gap));
    text-align: center;
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--menu-link-color);
  }
  .team-text {
    font-family: var(--roboto-font-constant);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--main-grey-color);
  }
  .staff {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: #AFB1B8;
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: #2196F3;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
  }
  .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
    fill: var(--main-bg-color);
  }
}
footer {
  justify-content: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
  background: var(--footer-header-background);
  padding-top: 60px;
}

.address-lines {
  font-style: normal;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-line-1 {
  color: var(--main-bg-color);
  margin-bottom: 9px;
}

.footer-address-line-2 {
  margin-bottom: 9px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-list-link:hover, .footer-list-link:focus {
  background-color: #2196F3;
}

.footer-list-icon {
  fill: #FFFFFF;
}

.footer-general {
  display: flex;
  align-items: baseline;
}

.footer-form-field {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  column-gap: 12px;
  margin-top: 20px;
}

.footer-form-field-desk {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.footer-form-input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  border-radius: 4px;
  padding-left: 16px;
  background: #2F303A;
  color: var(--main-bg-color);
  transition: border-color var(--transition-dur-and-func);
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-field-input {
  display: flex;
  margin-top: 20px;
}

.footer-form-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 28px;
  column-gap: 10px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: var(--button-background-color);
  color: var(--main-bg-color);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
}
.footer-form-btn:active, .footer-form-btn:hover, .footer-form-btn:focus {
  background-color: var(--accent-color);
}

.footer-form-icon {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .footer-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-address {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
  }
  .footer-box {
    align-self: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
  }
  .footer-form {
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer-form-input {
    margin-bottom: 20px;
    width: 90%;
  }
  .footer-form-field-input {
    display: block;
  }
  .footer-form-btn {
    justify-self: center;
  }
  .footer-form-field-input {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-general {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .footer-box {
    display: inline;
    margin-left: 165px;
    width: 40%;
  }
  .footer-address {
    display: inline;
    width: 40%;
  }
  .footer-form {
    width: 50%;
    justify-content: center;
  }
  .footer-form-field-input {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding-top: 60px;
  }
  .footer-address {
    padding-top: 60px;
    text-align: left;
    width: 20%;
  }
  .footer-social-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .footer-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }
  .footer-box {
    align-self: center;
    margin-top: 70px;
    margin-left: 0px;
    width: 20%;
  }
  .footer-general {
    padding-top: 0px;
    display: flex;
    column-gap: 70px;
    place-items: start;
  }
  .footer-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 40px;
  }
  .footer-form {
    display: inline;
    text-align: left;
    padding-top: 100px;
    width: 530px;
  }
  .footer-form-input {
    display: inline-block;
  }
  .footer-form-field-input {
    display: flex;
    margin-top: 20px;
  }
  .footer-form-btn {
    display: flex;
    padding: 10px 28px;
    column-gap: 10px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 480px) {
  .section-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
  }
  .clients-list {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
    margin-top: 50px;
  }
  .clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    width: 210px;
    height: 92px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover, .clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  .clients-icon {
    fill: currentColor;
  }
  .clients-icon:hover, .clients-icon:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
  }
  .clients-list {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
  }
  .clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 60px) / 3);
  }
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    width: 226px;
    height: 92px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover, .clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  .clients-icon {
    fill: currentColor;
  }
  .clients-icon:hover, .clients-icon:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
  }
  .clients-list {
    cursor: pointer;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
  }
  .clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 150px) / 6);
  }
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover, .clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  .clients-icon {
    fill: currentColor;
  }
  .clients-icon:hover, .clients-icon:focus {
    fill: var(--accent-color);
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover .overlay, .portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}

.projects {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-list-link {
  display: block;
}
.portfolio-list-link:hover, .portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  font-family: var(--roboto-font-constant);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--menu-link-color);
}

.portfolio-text {
  font-family: var(--roboto-font-constant);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.menu {
  display: none;
}

.contacts {
  display: none;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.open-mobile-menu-btn_icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .page-header-container {
    display: flex;
    align-items: center;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    column-gap: 50px;
    justify-content: center;
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .menu__link {
    font-family: var(--roboto-font-constant);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--menu-link-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:active, .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link {
    color: var(--menu-link-color);
  }
  .menu__link.current {
    color: var(--accent-color);
  }
  .menu__item:active,
.menu__item:hover,
.menu__item:focus {
    color: var(--accent-color);
  }
  .contacts__list-item {
    font-family: var(--roboto-font-constant);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 50px;
    color: var(--main-grey-color);
    fill: currentColor;
  }
  .contacts__list-item:active, .contacts__list-item:hover, .contacts__list-item:focus {
    color: var(--accent-color);
  }
  .contacts__list-item-link {
    display: flex;
    align-items: center;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__list-item-link:active, .contacts__list-item-link:hover, .contacts__list-item-link:focus {
    color: var(--accent-color);
  }
  .contacts-icon-smartphone,
.contacts-icon-envelope {
    margin-right: 10px;
  }
  .page-navigation .logo {
    font-family: var(--raleway-font-constant);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .page-header-container {
    display: flex;
    align-items: center;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    column-gap: 50px;
    justify-content: center;
  }
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .menu__link {
    font-family: var(--roboto-font-constant);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--menu-link-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:active, .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link {
    color: var(--menu-link-color);
  }
  .menu__link.current {
    color: var(--accent-color);
  }
  .menu__item:active,
.menu__item:hover,
.menu__item:focus {
    color: var(--accent-color);
  }
  .contacts__list-item {
    font-family: var(--roboto-font-constant);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 50px;
    color: var(--main-grey-color);
    fill: currentColor;
  }
  .contacts__list-item:active, .contacts__list-item:hover, .contacts__list-item:focus {
    color: var(--accent-color);
  }
  .contacts__list-item-link {
    display: flex;
    align-items: center;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__list-item-link:active, .contacts__list-item-link:hover, .contacts__list-item-link:focus {
    color: var(--accent-color);
  }
  .contacts-icon-smartphone,
.contacts-icon-envelope {
    margin-right: 10px;
  }
  .page-navigation .logo {
    font-family: var(--raleway-font-constant);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--menu-link-color);
  }
}/*# sourceMappingURL=main.css.map */