.menu {
    display: none;
}

.contacts {
    display: none;
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open-mobile-menu-btn {

    border: none;
    background-color: transparent;
    padding: 0;
}

.open-mobile-menu-btn_icon {
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 768px) {
    
    .open-mobile-menu-btn {
            display: none;
        }

    .page-header {
            border-bottom: 1px solid #ECECEC;
            padding-top: 24px;
            padding-bottom: 25px;
        }

        .page-header-container {
            display: flex;
            align-items: center;
        }

        .page-navigation {
            display: flex;
            align-items: center;
        }

        .menu {
            display: flex;
            column-gap: 50px;
            justify-content: center;
        }

        .contacts {
            display: block;
            margin-left: auto;
        }

        .menu__link {
            font-family: var(--roboto-font-constant);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            position: relative;
            padding-top: 32px;
            padding-bottom: 32px;
            color: var(--menu-link-color);
            transition: color var(--transition-dur-and-func);


            &:active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }  
        }

        .menu__link {
            color: var(--menu-link-color); 

            &.current {
                color: var(--accent-color)
            }
        }

        .menu__item:active,
        .menu__item:hover,
        .menu__item:focus {
            color: var(--accent-color);
        }

        .contacts__list-item {
            font-family: var(--roboto-font-constant);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            display: flex;
            margin-right: 50px;
            color: var(--main-grey-color);
            fill: currentColor;

            &:active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

        .contacts__list-item-link {
            display: flex;
            align-items: center;
            color: inherit;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

        .contacts-icon-smartphone,
        .contacts-icon-envelope {
            margin-right: 10px;
        }

        .page-navigation .logo {
            font-family: var(--raleway-font-constant);
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--menu-link-color);
        }
}

@media screen and (min-width: 1200px) {
    .page-header {
            border-bottom: 1px solid #ECECEC;
            padding-top: 24px;
            padding-bottom: 25px;
        }

        .page-header-container {
            display: flex;
            align-items: center;
        }

        .page-navigation {
            display: flex;
            align-items: center;
        }

        .menu {
            display: flex;
            column-gap: 50px;
            justify-content: center;
        }

        .contacts {
            display: flex;
            margin-left: auto;
        }

        .menu__link {
            font-family: var(--roboto-font-constant);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            position: relative;
            padding-top: 32px;
            padding-bottom: 32px;
            color: var(--menu-link-color);
            transition: color var(--transition-dur-and-func);


            &:active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

        .menu__link {
            color: var(--menu-link-color);

            &.current {
                color: var(--accent-color)
            }
        }

        .menu__item:active,
        .menu__item:hover,
        .menu__item:focus {
            color: var(--accent-color);
        }

        .contacts__list-item {
            font-family: var(--roboto-font-constant);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            display: flex;
            margin-right: 50px;
            color: var(--main-grey-color);
            fill: currentColor;

            &:active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

        .contacts__list-item-link {
            display: flex;
            align-items: center;
            color: inherit;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:active,
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

        .contacts-icon-smartphone,
        .contacts-icon-envelope {
            margin-right: 10px;
        }

        .page-navigation .logo {
            font-family: var(--raleway-font-constant);
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--menu-link-color);
        }
}



