
button {
    cursor: pointer;
    border: none;
}

.menu-btn {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em  
}



.list-btn {
    font-family: var(--roboto-font-constant);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    color: var(--menu-link-color);
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        background: var(--accent-color);
        color: var(--main-bg-color)
     }
}

.main-baner-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    background-color: var(--button-background-color);
    color: var(--main-bg-color);

    &:active,
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        }
}

